/* ================== RESET/ROOT VARIABLES ================== */
/* ========================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
}

:root {
  --clr--primary: #351c74;
  --clr--secondary: #bc5ee7;

  --clr--ntrl--dark: #374151;
  --clr--ntrl--light: white;
  --clr--ntrl--grey: #d1d5db;
  --clr--ntrl--purple: #d9d3e9;

  --ff--body: sans-serif;
  --fw--content: 400;
  --fw--header: 700;
}

/* ====================== GENERAL STYLING =================== */
/* ========================================================== */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 377px;
  font-family: var(--ff--body);
}

/* ================ Quiz card component styling ============= */
/* ========================================================== */

.quiz-card {
  /* display: flex; */
  flex-direction: column;
  border: 0.2em solid #374151;
  border-radius: 1em;
  width: 90%;
  height: 50vw;
  padding: 2em;
  gap: 2em;
  line-height: 1.25;
}

header {
  display: flex;
  justify-content: space-between;
  color: var(--clr--secondary);
}

header p {
  font-size: 1.25em;
}

.time-and-score {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5em;
  color: black;
}

.view-high-scores {
  height: fit-content;
  cursor: pointer;
}

.quiz-card-content {
  display: none;
  flex-direction: column;
  padding: 2em 10em;
  gap: 1em;
}

/* Hiding feedback until after user answers question  */
.wrong-answer,
.right-answer {
  display: none;
  width: 100%;
  border-top: 1px solid var(--clr--ntrl--grey);
  margin-top: 0.5em;
  font-size: 1.25em;
  font-style: italic;
  color: var(--clr--ntrl--grey);
}

.quiz-card-title {
  font-size: 2em;
  font-weight: var(--fw--header);
}

.quiz-card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 1em 5em;
}

.quiz-card-question {
  font-size: 2em;
}

/* ~~~~~~~~~~~~~~~ button styles ~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* We need to set display to none */
/* so that intro content comes first */
.option-buttons {
  display: grid;
  width: 100%;
  padding: 0;
  gap: 0.5em;
}

.btn {
  background-color: var(--clr--primary);
  border-radius: 0.5em;
  color: var(--clr--ntrl--light);
  padding: 0.5em 1em;
  width: 60%;
  text-align: left;
  /* font-size: 1.3em; */
}

.options,
.answer,
.number {
  font-size: 1.3em;
}

.btn:hover {
  background-color: var(--clr--secondary);
  cursor: pointer;
}

/* =============== Introduction Content styling ============= */
/* ========================================================== */

.before-quiz-content {
  /* display: none; */
  text-align: center;
  padding: 0 8.5em;
  font-size: 1em;
}

.before-quiz-content p {
  padding: 1em 0;
  font-size: 1.25em;
}

.start {
  text-align: center;
  width: fit-content;
}

/* =============== Form and End Message styling ============= */
/* ========================================================== */

.quiz-complete {
  display: none;
  /* display: flex; */
  flex-direction: column;
  padding: 2em 8em 2em 10em;
  gap: 1em;
}

.score-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.score-wrapper span,
form p {
  font-size: 1.25em;
}

.initials {
  display: flex;
  align-items: end;
  gap: 1em;
}

/* ~~~~~~~ Input Text Box for initials ~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#initials {
  width: 25vw;
  height: 30px;
  padding: 0 0.5em;
  border: 1px solid grey;
}

.end-statement,
.high-score-title {
  font-size: 2em;
}

.submit-high-score {
  width: fit-content;
}

/* ================ High Score Section styling ============== */
/* ========================================================== */

.see-high-scores {
  display: none;
  /* display: flex; */
  flex-direction: column;
  padding: 2em 8em 2em 10em;
  gap: 1em;
}

.high-score-message {
  background-color: var(--clr--ntrl--purple);
  font-size: 1.25em;
  padding: 0.25em;
}

.go-back,
.clear {
  width: fit-content;
}

.clear-high-scores,
.go {
  font-size: 1.25em;
}

/* =-=-=-=-=-=-=-=-=-=- RESPONSIVE STYLING, -=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-= TABLET =-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header p {
    font-size: 1em;
  }

  .quiz-card {
    gap: 1.25em;
  }

  .before-quiz-content {
    padding: 0 5em;
  }

  .before-quiz-content p {
    font-size: 1em;
  }

  .quiz-card-title {
    padding-top: 0.5em;
    font-size: 1.5em;
  }

  .quiz-card-content {
    padding: 0 3em;
  }
  .quiz-card-content span {
    font-size: 1em;
  }

  .quiz-card-question {
    padding-top: 0.5em;
  }

  .btn {
    width: 100%;
    padding: 0.5em 0.5em;
  }

  .option-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .options {
    width: 90%;
  }

  .quiz-complete {
    padding: 2em 5em;
    gap: 1em;
  }

  .start {
    width: fit-content;
  }

  .see-high-scores {
    display: none;
    /* display: flex; */
    flex-direction: column;
    padding: 2em 5em;
    gap: 1em;
  }

  .go-back,
  .clear {
    width: fit-content;
  }

  .submit-high-score {
    width: fit-content;
  }
}

/* =-=-=-=-=-=-=-=-=-=- RESPONSIVE STYLING, -=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-= MOBILE =-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@media screen and (max-width: 767px) {
  header p {
    font-size: 0.75em;
    padding: 0 0.5em;
  }

  .time-and-score {
    gap: 0.1em;
  }

  .quiz-card {
    padding: 0.75em;
    gap: 0.5em;
  }

  .quiz-card-content {
    gap: 0.5em;
  }

  .quiz-card-question {
    font-size: 1em;
    padding-top: 0.5em;
    line-height: 1em;
  }

  .wrong-answer,
  .right-answer {
    border-top: 1px solid var(--clr--ntrl--grey);
    margin-top: 0.25em;
    font-size: 0.75em;
  }

  .quiz-card-title {
    padding-top: 0.1em;
    font-size: 1.25em;
  }

  .before-quiz-content {
    /* display: none; */
    text-align: center;
    padding: 0 0.25em;
    font-size: 0.75em;
  }

  .before-quiz-content p {
    padding: 0.5em;
    font-size: 0.75em;
  }

  .quiz-card-content {
    padding: 0 1em;
  }

  .option-buttons {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .options {
    padding: 0.5em;
    width: 100%;
    font-size: 0.5em;
  }

  .quiz-complete {
    padding: 0 2em;
    gap: 0.5em;
  }

  .score-wrapper span,
  form p {
    font-size: 1em;
  }

  .end-statement {
    font-size: 1.25em;
  }

  .clear-high-scores,
  .go,
  .submit-initials,
  .start,
  .high-score-message {
    font-size: 0.75em;
  }

  .submit-high-score {
    padding: 0.25em 0.5em;
    /* width: fit-content; */
  }

  .see-high-scores {
    display: none;
    /* display: flex; */
    flex-direction: column;
    padding: 0.75em 2em;
    gap: 0.5em;
  }

  .high-score-title {
    font-size: 1.25em;
  }

  .go-back,
  .clear {
    width: fit-content;
  }
}
